<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/products.css">
</head> -->

<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section>
            <div class="products">
                <% products.forEach((product) => { %>
                    <!--<a href="/products/detail/<%=product.id %>" class="main-article">-->
                        <div class="image-article">
                            <img src="/img/products/<%= product.image %>" alt="">
                        </div>
                        <div class="details-article">
                            <h4><%= product.name %></h4>
                            <p class="category"><strong>Categoría:</strong> <%= product.category %></p>
                            <p class="origin"><strong>Origen: </strong> <%= product.origin %></p>
                            <p class="origin"><strong>Descripción: </strong> <%= product.description %></p>
                            <p class="price"><%= product.price %></p>
                        </div>
                    </a>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>